<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loganstellway_social>
            <facebook>
                <api_version>v2.10</api_version>
            </facebook>
        </loganstellway_social>
    </default>
</config>
